<?xml version="1.0" encoding="UTF-8"?>
<Configuration  status ="TRACE">
 
  <Appenders>
     <File name="File" fileName="output.log" >

  </File>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
       <Logger name="log1" >
      <AppenderRef ref="File"/>
        <AppenderRef ref="Console" />
    </Logger>
    <Root >
      <AppenderRef ref="File" />
      <AppenderRef ref="Console" />
    </Root>
  </Loggers>
</Configuration>